@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    string userTypeId = User.Claims.Where(x => x.Type == ClaimTypes.Role).FirstOrDefault().Value;
}
<html>
<body onload="Load();">
    @if (userTypeId == "1")
    {
        <div class="row g-5 g-xl-8" style="margin-top:20px">

            <div class="col-xl-4">
                <!--begin::Statistics Widget 5-->
                <a href="/User/Index" class="card bg-primary hoverable card-xl-stretch mb-xl-8">

                    <!--begin::Body-->
                    <div class="card-body">
                        <i class="ki-duotone ki-people text-white fs-2x ms-n1">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                        </i>
                        <div class="text-white fw-bold fs-2 mb-2 mt-5">Kullanıcılar</div>
                        <div class="fw-semibold text-white">Listele, Ekle, Sil, Düzenle</div>
                    </div>
                    <!--end::Body-->
                </a>
                <!--end::Statistics Widget 5-->
            </div>
            <div class="col-xl-4">
                <!--begin::Statistics Widget 5-->
                <a href="/Department/Index" class="card bg-success hoverable card-xl-stretch mb-5 mb-xl-8">
                    <!--begin::Body-->
                    <div class="card-body">
                        <i class="ki-duotone ki-category text-white fs-2x ms-n1">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                        </i>
                        <div class="text-white fw-bold fs-2 mb-2 mt-5">Departmanlar</div>
                        <div class="fw-semibold text-white">Listele, Ekle, Sil, Düzenle</div>
                    </div>
                    <!--end::Body-->
                </a>
                <!--end::Statistics Widget 5-->
            </div>
            <div class="col-xl-4">
                <!--begin::Statistics Widget 5-->
                <a href="/UserType/Index" class="card bg-info hoverable card-xl-stretch mb-5 mb-xl-8">
                    <!--begin::Body-->
                    <div class="card-body">
                        <i class="ki-duotone ki-category text-white fs-2x ms-n1">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                        </i>
                        <div class="text-white fw-bold fs-2 mb-2 mt-5">Roller</div>
                        <div class="fw-semibold text-white">Listele, Ekle, Sil, Düzenle</div>
                    </div>
                    <!--end::Body-->
                </a>
                <!--end::Statistics Widget 5-->
            </div>
        </div>
    }


    <div class="card mb-5 mb-xl-8" style="margin-top:20px">
        <div class="card-header ribbon bg-light-primary ribbon-top ribbon-vertical">
            <div class="ribbon-label bg-white">
                <i class="ki-duotone ki-people text-primary fs-2hx">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                    <span class="path5"></span>
                </i>
            </div>
            <div class="card-title">
                Kullanıcılar
            </div>
        </div>
        <!--begin::Body-->
        <div class="card-body py-3">
            <!--begin::Table container-->
            <div class="table-responsive">
                <!--begin::Table-->
                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" id="DTUser">
                    <!--begin::Table head-->
                    <thead>
                        <tr class="fw-bold text-muted">
                            <th class="min-w-100px">Kullanıcı Adı</th>
                            <th class="min-w-100px">Ad</th>
                            <th class="min-w-100px">Soyad</th>
                            <th class="min-w-100px">Mail</th>
                            <th class="min-w-100px">Departman</th>
                            <th class="min-w-100px">Rol</th>

                        </tr>
                    </thead>
                    <!--end::Table head-->
                    <!--begin::Table body-->
                    <tbody>
                    </tbody>
                    <!--end::Table body-->
                </table>
                <!--end::Table-->
            </div>
            <!--end::Table container-->
        </div>
        <!--begin::Body-->
    </div>
    <div class="card mb-5 mb-xl-8" style="margin-top:20px">
        <div class="row">
            <div class="col-xl-6">
                <div class="card-header ribbon bg-light-success ribbon-top ribbon-vertical">
                    <div class="ribbon-label bg-white">
                        <i class="ki-duotone ki-category text-success fs-2hx">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>

                        </i>
                    </div>
                    <div class="card-title">
                        Departmanlar
                    </div>
                </div>
                <!--begin::Body-->
                <div class="card-body py-3">
                    <!--begin::Table container-->
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" id="DTDepartment">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="fw-bold text-muted">

                                    <th class="min-w-100px">Departman Adı</th>
                                    <th class="min-w-100px">Departman Kodu</th>


                                </tr>
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody>
                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                    <!--end::Table container-->
                </div>

            </div>
            <div class="col-xl-6">
                <div class="card-header ribbon bg-light-info ribbon-top ribbon-vertical">
                    <div class="ribbon-label bg-white">
                        <i class="ki-duotone ki-category text-info fs-2hx">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>

                        </i>
                    </div>
                    <div class="card-title">
                        Roller
                    </div>
                </div>
                <!--begin::Body-->
                <div class="card-body py-3">
                    <!--begin::Table container-->
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" id="DTRole">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="fw-bold text-muted">

                                    <th class="min-w-100px">Rol Adı</th>

                                </tr>
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody>
                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                    <!--end::Table container-->
                </div>

            </div>
        </div>
     


    </div>
</body>


</html>

<script>
    function Load() {
        initializeDataTable("#DTUser");
        initializeDataTable("#DTDepartment");
        initializeDataTable("#DTRole");
        Get();
    }
    function Get() {
        $.ajax({
            url: '/User/GetUsers',
            type: "GET",
            data: {},
            success: function (data) {

                $('#DTUser').DataTable().rows().remove().draw();

                if (data.data != null) {

                    $.each(data.data, function (i, item) {

                        $('#DTUser').DataTable().row.add($('<tr style="color:dark; justify-content:start; vertical-align:middle; align-items:center; text-align:center;" class="fs-7 border-bottom-0">' +

                            '<td><div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column fs-7 fw-bold">' + [item.username] + '</div></div></td>' +
                            '<td><div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column fs-7 fw-bold">' + [item.name] + '</div></div></td>' +
                            '<td><div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column fs-7 fw-bold">' + [item.lastName] + '</div></div></td>' +
                            '<td><div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column fs-7 fw-bold">' + [item.email] + '</div></div></td>' +
                            '<td><div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column fs-7 fw-bold">' + [item.department.name] + '</div></div></td>' +
                            '<td><div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column fs-7 fw-bold">' + [item.userType.type] + '</div></div></td>' +
                            '</tr>')).draw();


                    });

                }
            }
        });
        $.ajax({
            url: '/Department/GetDepartments',
            type: "GET",
            data: {},
            success: function (data) {

                $('#DTDepartment').DataTable().rows().remove().draw();
                if (data.data != null) {

                    $.each(data.data, function (i, item) {

                        $('#DTDepartment').DataTable().row.add($('<tr style="color:dark; justify-content:start; vertical-align:middle; align-items:center; text-align:center;" class="fs-7 border-bottom-0">' +

                            '<td><div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column fs-7 fw-bold">' + [item.name] + '</div></div></td>' +
                            '<td><div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column fs-7 fw-bold">' + [item.code] + '</div></div></td>' +

                            '</tr>')).draw();


                    });

                }
            }
        });
        $.ajax({
            url: '/UserType/GetUserTypes',
            type: "GET",
            data: {},
            success: function (data) {

                $('#DTRole').DataTable().rows().remove().draw();

                if (data.data != null) {

                    $.each(data.data, function (i, item) {

                        $('#DTRole').DataTable().row.add($('<tr style="color:dark; justify-content:start; vertical-align:middle; align-items:center; text-align:center;" class="fs-7 border-bottom-0">' +

                            '<td><div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column fs-7 fw-bold">' + [item.type] + '</div></div></td>' +


                            '</tr>')).draw();


                    });

                }
            }
        });
    }




</script>